
Options -Indexes


RewriteEngine On

RewriteBase /clinicdesk/

RewriteRule ^(config|core|includes)/ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>